# -----------------------------------------------------------------------------
# Object files
# -----------------------------------------------------------------------------

# ocaml object files
*.cm*
*.annot
*.opt
*.byte

# Makefile, auto generated stuff
.depend

# -----------------------------------------------------------------------------
# Auto generated
# -----------------------------------------------------------------------------

# parsers
/parsing_c/lexer_c.ml
/parsing_c/parser_c.ml
/parsing_c/parser_c.mli
/parsing_c/parser_c.output

# -----------------------------------------------------------------------------
# binaries
# -----------------------------------------------------------------------------
/yacfe
/Makefile.config
